@import url('https://fonts.googleapis.com/css2?family=Reggae+One&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --bg-principal: rgb(167, 164, 164);
    --bg-secundario: #1d272c;/* #3d7ea1 */
    --menu-lateral: #32445073; 
    --rodape: #01090D;
    --text: #F2F2F2; /* p */
    --text-escuro: rgb(48, 47, 47);
    --text-hover: #B1221D;

    --icon: #B1221D;
    --bg-icon: #F2F2F2;
    --icon-hover: #F2F2F2;
    --bg-icon-hover:#B1221D;

    --title-primary: rgb(121, 7, 7)/* #1b0f83 */; /* Alterar dps */
    --title-secundary: #1d5c86; /*Alterar dps*/
    --font-principal: "Tiro Devanagari Hindi", serif;
    --font-secudary: "Roboto", sans-serif;

    --borda: #550b08;
    --borda-clara: rgb(196, 187, 187);
}
/* CSS geral */
html {
    scrollbar-width: thin;
    scrollbar-color: rgb(110, 106, 106) transparent;
}
body{
    font-family:  "Roboto", sans-serif;;
    color: var(--text);
    background: var(--bg-principal);
}
a{
    color: var(--text);
    text-decoration: none;
}
a:hover{
    color: var(--text-hover);
}

h1,h2 {
    color: var(--title-primary);
}
h3,h4,h5,h6{
    color: var(--title-secundary);
}
/* Botão para voltar para o topo */
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--icon);
    transition: all 0.4s;
}
.back-to-top i {
    font-size: 28px;
    color: var(---bg-icon);
    line-height: 0;
}
.back-to-top:hover {
    background: var(--icon-hover);

}
.back-to-top i:hover{
    color: var(--bg-icon-hover);
}
.back-to-top.active{
    visibility: visible;
    opacity: 1;
}

/* Cabecalho */
#header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 99;/* */
    padding: 0 15px;
    background: var(--menu-lateral);
    overflow-y: auto; /* caso tenha fique algo oculto no programa adicionara uma barra de rolagem */
    scrollbar-width: thin;
    scrollbar-color: rgba(17, 17, 17, 0.158) transparent;
}
#header .perfil img {
    margin: 15px auto;
    display: block;
    width: 150px;
    box-shadow: 0px 0px 10px 3px var(--borda-clara); /* primeiro valor lateral, segundo valor altura, terceiro valor deixa borrado, quarto valor aumenta o tamanho e ultimo valor a cor*/
}
#header .perfil img:hover{
    box-shadow: 0px 0px 10px 10px var(--bg-icon);
    transition: 0.8s;
}
#header .perfil h1 {
    font-family: "Tiro Devanagari Hindi", serif;
    font-size: 44px;
    font-weight: 400;
    margin: 25px;
    padding: 0;
    text-align: center;
}
#header .perfil h1 a:hover {
    color: var(--text);
    text-shadow: -10px 10px 5px black;
    transition: 0.5s;
}

#header .perfil .social-links a{
    font-size: 18px;
    display: inline-block;
    background: var(--bg-icon);
    color: var(--icon);
    line-height: 1;
    padding: 8px;
    margin-right: 15px;
    border-radius: 50%;
    text-align: center;
    width: 35px;
    height: 35px;
    transition: 0.3s;
}
#header .perfil .social-links a:hover {
    background: var(--bg-icon-hover);
    color: var(--icon-hover);
    box-shadow: -4px 4px 3px rgba(0, 0, 0, 0.459);
    transition: .5s;
}
.red{
    color: rgb(133, 10, 10)/* var(--icon) */;
    -webkit-text-stroke: 2px #1a0303;
}
.black{
    font-family: 'Tiro Devanagari Hindi';
    font-style: italic;
    color: #070000/* #a80707 */;
    -webkit-text-stroke: 1px #8d0505/* #1a0303 */;
}

/*  Menu Desktop */
.nav-menu {
    padding: 30px 0 0 0;
}
.nav-menu * { /* O * aplica a todos os filhos as regras css */
    padding: 0;
    margin: 0;
    list-style: none;
}
.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
}/* Revisão */
.nav-menu a,
.nav-menu:focus{
    display: flex;
    align-items: center;
    color: var(--text);
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}
.nav-menu span {
    padding-top: 7px;
    text-transform: capitalize;
}
.nav-menu a i,
.nav-menu a:focus i {
    font-size: 22px;
    padding-right: 10px;
}
.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
    text-decoration: none;
    color: var(--text-hover);
}

/* Menu mobile */
.mobile-nav-toggle{
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 9999;
    border: 0;
    font-size: 26px;
    transition: all 0.4s;
    background: var(--icon);
    color: var(--text);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
}
.mobile-nav-active{
    overflow: hidden;
}
.mobile-nav-active #header{
    left: 0;
}

/* Hero */
#hero{
    width: 100%;
    height: 100vh;
    background: url("../img/fundo-hero.jpg") center;
    background-size: cover;
    background-attachment: fixed;
}
#hero::before{
    content: "";
    background: rgba(5, 13, 20, 0.089);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}  
#hero .hero-container{
    position: relative;
    z-index: 2;
    min-width: 300px;   
} 
#hero h1 {
    margin: 0 0 10px 0;
    font-size: 74px;
    font-weight: 700;
    line-height: 85px;
    color: var(--text);
}
#hero p {
    font-size: 25px;
    background: rgba(117, 59, 4, 0.356);
}

#hero p span{
    color: var(--text);
    padding-bottom: 5px;
    letter-spacing: 1px;
    border-bottom: 3px solid var(--borda);
}

/* Ajuste para o corpo principal */
#main {
    margin-left: 300px;
    color: var(--text-escuro);
}
.container,
.container-fluid{
    padding-left: 30px;
    padding-right: 30px;
}

/* Seção gerais */
section {
    padding: 60px 0;
    overflow: hidden;
    background: var(--bg-principal);
}
.section-bg {
    background: var(--bg-secundario);
    color: var(--text);
}
.section-title{
    margin-bottom: 30px;
}
.section-title h2 {
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
    padding-bottom: 20px;
    color: var(--title-primary);
    position: relative;
}
.section-title h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: var(--title-primary);
    bottom: 10;
    left: 0;
}
.section-title p {
    margin-bottom: 0;
}

/* Sobre */
.sobre .content h3{
    font-weight: 700;
    font-size: 26px;
}
.sobre .content ul {
    list-style: none;
    padding: 0px;
}
.sobre .content ul li{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.sobre .content ul strong {
    margin-left: 10px;
}
.sobre .content ul i {
    font-size: 20px;
    color: var(--icon);
    margin-right: 10px;
    line-height: 0;
}

/* Conquistas */
.conquistas {
    padding-bottom: 30px;
}
.conquistas .count-box {
    padding: 30px;
    width: 100%;
}
.conquistas .count-box i{
    display: block;
    font-size: 44px;
    color: var(--bg-secundario);
    float: left;
    line-height: 0;
}
.conquistas .count-box span{
    font-size: 42px;
    line-height: 40px;
    display: block;
    font-weight: 700;
    color: var(--text-escuro);
    margin-left: 60px;
}
.conquistas .count-box p {
    padding: 15px 0 0 0;
    margin: 0 0 0 60px;
    font-family: "Roboto", sans-serif;
}

/* Vendas */
.skills {
    color: var(--text);
}
.skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}
.skills .progress .skill {
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
}
.skill .progress .skill .val {
    float: right;
    font-style: normal;
}
.skills .progress-bar-bg {
    height: 10px;
    background: var(--bg-icon);
}
.skills .progress-bar {
    width: 1px;
    height: 10px;
    background: var(--icon);
}

/* Historia */
.resume .resume-title {
    font-size: 30px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 25px;
}
.resume .resume-item {
    position: relative;
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid var(--title-secundary);
}
.resume .resume-item h4 {
    line-height: 18px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.resume .resume-item ul {
    padding-left: 20px;
}
.resume .resume-item li {
    padding-bottom: 10px;
}
.resume .resume-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: -9px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background:  var(--bg-icon);
    border: 2px solid var(--title-secundary);
}

/* Filtros portfolio / Veiculos */
.portfolio .portfolio-item {
    margin-bottom: 30px;
}
.portfolio #portfolio-filters {
    padding: 0;
    margin: 0 auto 35px auto;
    list-style: none;
    text-align: center;
    background: var(--bg-icon);
    
    border-radius: 40px;
    padding: 2px 15px;
}
.portfolio #portfolio-filters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 16px;
    line-height: 1;
    color: var(--title-secundary);
    font-weight: 600;
    transition: all 0.5 ease-in-out;
}
.portfolio #portfolio-filters li:hover, 
.portfolio #portfolio-filters li.filter-active{
    color: var(--text);
    background: var(--title-secundary);
    border-radius: 40px;
    box-shadow: -3px 0px 5px rgb(84, 85, 85);
}
.portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}
.portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(255, 255, 255, 0.315);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all ease-in-out 0.3;
    z-index: 2;
    opacity: 0;
}
.portfolio .portfolio-wrap .portfolio-links {
    opacity: 1;
    right: 0;
    bottom: -60px;
    left: 0;
    z-index: 3;
    position: absolute;
    transition: all ease-in-out 0.3s;
    display: flex;
    justify-content: center;
}
.portfolio .portfolio-wrap .portfolio-links a {
    color: var(--text);
    font-size: 28px;
    text-align: center;
    background: var(--title-secundary);
    transition: 0.3s;
    width: 50%;
}
.portfolio .portfolio-wrap .portfolio-links a:hover {
    background: var(--title-secundary);
}
.portfolio .portfolio-wrap .portfolio-links a+a {
    border-left: 1px solid var(--menu-lateral);
}
.portfolio .portfolio-wrap:hover::before {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 1;
}
.portfolio .portfolio-wrap:hover .portfolio-links{
    opacity: 1;
    bottom: 0;
}
/* Portfolio detalhes */


/* Serviços */
.services .icon-box {
    margin-bottom: 20px;
}
.services .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    /* border: 1px solid #e9ecec; */
    background: var(--title-secundary);
    transition: 0.5s;
    
}
.services .icon i{
    color: var(--bg-icon);
    font-size: 24px;
    line-height: 0;
}
.services .icon-box:hover .icon {
    background: rgba(255, 255, 255, 0.336);
    border: 1px solid var(--title-secundary);
    transition: all 1s;
}
.services .icon-box:hover .icon i {
    color: var(--title-secundary);
}
.services .title {
    margin-left: 80px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 24px;
}
.services .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 18px;
}

/* Depoimentos */
.depoimentos,
.depoimentos .depoimentos-slider{
    overflow: hidden;    
}
.depoimentos .depoimento-item{
    box-sizing: content-box;
    text-align: center;
    min-height: 320px;
}
.depoimentos .depoimento-item .depoimento-img {
    width: 90px;
    border-radius: 50%;
    margin: 0 auto;
}
.depoimentos .depoimento-item h3{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
}
.depoimentos .depoimento-item h4{
    font-size: 14px;
    color: var(--borda-clara);
    margin: 0;
}
.depoimentos .depoimento-item .quote-icon-left,
.depoimentos .depoimento-item .quote-icon-right {
    color: var(--title-secundary);
    font-size: 26px;
}
.depoimentos .depoimento-item .quote-icon-left{
    position: relative;
    display: inline-block;
    left: -5px;
}
.depoimentos .depoimento-item .quote-icon-right{
    position: relative;
    display: inline-block;
    right: -5px;
    top: 10px;
}
.depoimentos .depoimento-item p {
    font-style: italic;
    margin: 0 15px 35px 15px;
    padding: 20px;
    background: var(--menu-lateral);
    border-radius: 60px;
    position: relative;
}
.depoimentos .depoimento-item p:hover{
    background: rgba(151, 148, 148, 0.63);
    box-shadow: -10px 10px 15px rgb(0, 0, 0);
    border-radius: 0;
    transition: 1s;
}
.depoimentos .depoimento-item p::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -20px;
    left: calc(50% - 20px);
    border-top: 20px solid var(--menu-lateral);
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
}
.depoimentos .depoimento-item p:hover::after{
    border-top: 20px solid rgba(151, 148, 148, 0.63);
}
.depoimentos .swiper-pagination{
    margin-top: 40px;
    position: relative;
}
.depoimentos .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: var(--bg-icon);
}

/* Contato */
.contato {
    padding-bottom: 130px;
}
.contato .info{
    padding: 30px;
    background: var(--bg-icon);
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
.contato .info i{
    font-size: 20px;
    color: var(--text);
    float: left;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: var(--title-secundary);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
.contato .info i:hover {
    color: var(--title-secundary);
    background: var(--bg-icon);
    border: 1px dotted var(--title-secundary);
}
.contato .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
}
.contato .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 16px;
}
.info a {
    color: var(--text-escuro);
}
.info .fone i:hover {
    color: rgb(15, 224, 15);
    border: 1px dotted rgb(15, 224, 15);
}
.contato .info .fone a:hover{
    color: rgb(15, 224, 15);
}
.contato .email-form {
    width: 100%;
    padding: 30px;
    background: var(--bg-icon);
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
.contato .email-form .form-grupo{
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.contato .email-form label{
    padding-top: 30px;
    margin-bottom: 5px;
}
.contato .email-form input {
    height: 45px;
}
.contato .email-form textarea {
    padding: 10px 15px;
    resize: none;
}
.contato .email-form button[type=submit] {
    background: var(--title-secundary);
    color: var(--text);
    border: 0;
    padding: 10px 24px;
    border-radius: 5px;
    margin-top: 35px;
    transition: 0.5s;
}
.contato .email-form button[type=submit]:hover{
    background: var(--bg-icon);
    color: var(--title-secundary);
    border: 1px solid var(--title-secundary);
}
/* Rodape */
#footer {
    background:var(--rodape);
    padding: 15px;
    color: var(--text);
    font-size: 14px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 9999;
    width: 300px;
}
#footer .copyright{
    text-align: center;
}
#footer .creditos {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: var(--text);
}
#footer .creditos a {
    color: var(--icon);
}
#footer .creditos a:hover{
    color: var(--title-primary);
}

/* Portfolio Detalhes */
.breadcrumbs{
    padding: 20px 0;
    background: rgb(138, 138, 138);
}
.breadcrumbs h2{
    font-size: 26px;
    font-style: italic;
}
.breadcrumbs ol{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 15px;
}
.breadcrumbs ol li{
    padding-left: 10px;
    color: white;
}
.breadcrumbs ol li+li::before{
    content: "/";
    display: inline-block;
    padding-right: 10px;
    color: white;
}


/* Media */
@media(max-width: 768px){
    #hero h1{
        font-size: 60px;
        line-height: 45px;
        padding-left: 50px;
    }
    #hero p {
        padding-left: 50px;
        font-size: 20px;
    }
    /* Portfolio detalhes */
    .breadcrumbs .d-flex{
        display: block !important;
    }
    .breadcrumbs ol {
        display: block;
    }
    .breadcrumbs ol li{
        display: inline-block;
    }
}
@media (max-width: 1024px){
    #hero{
        background-attachment: fixed;
    }
}
@media (max-width: 1199px){
    #header {
        background: #324450;
        left: -300px;
    }
    #main {
        margin-left: 0;
    }
    .container,
    .container-fluid{
        padding-left: 12px;
        padding-right: 12px;
    }
    #footer {
        position: static;
        width: auto;
        padding-right: 20px 15px;
    }
}
