@import url('https://fonts.googleapis.com/css2?family=Reggae+One&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    /* Adicionar novas fontes futuramente */
    /*Reorganizar os nomes e as cores das variaveis*/
    --bg-principal: rgb(167, 164, 164);/* possivel mudança para mais claro ; #506277 */
    --bg-secundario: #3d7ea1;
    --menu-lateral: #32445073; 
    --rodape: #01090D;
    --text: #F2F2F2; /* p */
    --text-escuro: rgb(48, 47, 47);
    --text-hover: #B1221D;

    --icon: #B1221D;
    --bg-icon: #F2F2F2;
    --icon-hover: #F2F2F2;
    --bg-icon-hover:#B1221D;

    --title-primary: rgb(121, 7, 7)/* #1b0f83 */; /* Alterar dps */
    --title-secundary: #1d5c86; /*Alterar dps*/
    --font-principal: font: "Tiro Devanagari Hindi", serif;
    --font-secudary: font: "Roboto", sans-serif;

    --borda: #550b08;
    --borda-clara: rgb(196, 187, 187);
}
/* CSS geral */
body{
    font-family:  "Roboto", sans-serif;;
    color: var(--text);
    background: var(--bg-principal);
}
a{
    color: var(--text);
    text-decoration: none;
}
a:hover{
    color: var(--text-hover);
}

h1,h2 {
    color: var(--title-primary);
}
h3,h4,h5,h6{
    color: var(--title-secundary);
}
/* Botão para voltar para o topo */
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--icon);
    transition: all 0.4s;
}
.back-to-top i {
    font-size: 28px;
    color: var(---bg-icon);
    line-height: 0;
}
.back-to-top:hover {
    background: var(--icon-hover);

}
.back-to-top i:hover{
    color: var(--bg-icon-hover);
}
.back-to-top.active{
    visibility: visible;
    opacity: 1;
}

/* Cabecalho */
#header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 99;/* */
    padding: 0 15px;
    background: var(--menu-lateral);
    overflow-y: auto; /* caso tenha fique algo oculto no programa adicionara uma barra de rolagem */
    scrollbar-width: thin;
    scrollbar-color: black transparent;
}
#header .perfil img {
    margin: 15px auto;
    display: block;
    width: 150px;
    box-shadow: 0px 0px 10px 3px var(--borda-clara); /* primeiro valor lateral, segundo valor altura, terceiro valor deixa borrado, quarto valor aumenta o tamanho e ultimo valor a cor*/
}
#header .perfil img:hover{
    box-shadow: 0px 0px 10px 3px var(--borda);
    transition: 0.8s;
}
#header .perfil h1 {
    font-family: "Tiro Devanagari Hindi", serif;
    font-size: 44px;
    font-weight: 400;
    margin: 25px;
    padding: 0;
    text-align: center;
}
#header .perfil h1 a:hover {
    color: var(--text);
    text-shadow: -10px 10px 5px black;
    transition: 0.5s;
}

#header .perfil .social-links a{
    font-size: 18px;
    display: inline-block;
    background: var(--bg-icon);
    color: var(--icon);
    line-height: 1;
    padding: 8px;
    margin-right: 15px;
    border-radius: 50%;
    text-align: center;
    width: 35px;
    height: 35px;
    transition: 0.3s;
}
#header .perfil .social-links a:hover {
    background: var(--bg-icon-hover);
    color: var(--icon-hover);
    box-shadow: -4px 4px 3px rgba(0, 0, 0, 0.459);
    transition: .5s;
}
#red{
    color: rgb(133, 10, 10)/* var(--icon) */;
}

/*  Menu Desktop */
.nav-menu {
    padding: 30px 0 0 0;
}
.nav-menu * { /* O * aplica a todos os filhos as regras css */
    padding: 0;
    margin: 0;
    list-style: none;
}
.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
}/* Revisão */
.nav-menu a,
.nav-menu:focus{
    display: flex;
    align-items: center;
    color: var(--text);
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}
.nav-menu span {
    padding-top: 7px;
    text-transform: capitalize;
}
.nav-menu a i,
.nav-menu a:focus i {
    font-size: 22px;
    padding-right: 10px;
}
.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
    text-decoration: none;
    color: var(--text-hover);
}

/* Menu mobile */
.mobile-nav-toggle{
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 9999;
    border: 0;
    font-size: 26px;
    transition: all 0.4s;
    background: var(--icon);
    color: var(--text);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
}
.mobile-nav-active{
    overflow: hidden;
}
.mobile-nav-active #header{
    left: 0;
}

/* Hero */
#hero{
    width: 100%;
    height: 100vh;
    background: url("../img/fundo-hero.jpg") center;
    background-size: cover;
}
#hero::before{
    content: "";
    background: rgba(5, 13, 20, 0.089);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}  
#hero .hero-container{
    position: relative;
    z-index: 2;
    min-width: 300px;   
} 
#hero h1 {
    margin: 0 0 10px 0;
    font-size: 74px;
    font-weight: 700;
    line-height: 85px;
    color: var(--text);
}
#hero p {
    font-size: 25px;
    background: rgba(117, 59, 4, 0.356);
}

#hero p span{
    color: var(--text);
    padding-bottom: 5px;
    letter-spacing: 1px;
    border-bottom: 3px solid var(--borda);
}

/* Ajuste para o corpo principal */
#main {
    margin-left: 300px;
    color: var(--text-escuro);
}
.container,
.container-fluid{
    padding-left: 30px;
    padding-right: 30px;
}

/* Seção gerais */
section {
    padding: 60px 0;
    overflow: hidden;
    background: var(--bg-principal);
}
.section-bg {
    background: var(--bg-secundario);
}
.section-title{
    margin-bottom: 30px;
}
.section-title h2 {
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
    padding-bottom: 20px;
    color: var(--title-primary);
    position: relative;
}
.section-title h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: var(--title-primary);
    bottom: 10;
    left: 0;
}
.section-title p {
    margin-bottom: 0;
}

/* Sobre */
.sobre .content h3{
    font-weight: 700;
    font-size: 26px;
}
.sobre .content ul {
    list-style: none;
    padding: 0px;
}
.sobre .content ul li{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.sobre .content ul strong {
    margin-left: 10px;
}
.sobre .content ul i {
    font-size: 20px;
    color: var(--icon);
    margin-right: 10px;
    line-height: 0;
}

/* Conquistas */
.conquistas {
    padding-bottom: 30px;
}
.conquistas .count-box {
    padding: 30px;
    width: 100%;
}
.conquistas .count-box i{
    display: block;
    font-size: 44px;
    color: var(--bg-secundario);
    float: left;
    line-height: 0;
}
.conquistas .count-box span{
    font-size: 42px;
    line-height: 40px;
    display: block;
    font-weight: 700;
    color: var(--text-escuro);
    margin-left: 60px;
}
.conquistas .count-box p {
    padding: 15px 0 0 0;
    margin: 0 0 0 60px;
    font-family: "Roboto", sans-serif;
}

/* Vendas */
.skills {
    color: var(--text);
}
.skills h2 {
    color: var(--title-secundary);
}
.skills h2::after {
    background: var(--title-secundary);
}
.skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}
.skills .progress .skill {
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
}
.skill .progress .skill .val {
    float: right;
    font-style: normal;
}
.skills .progress-bar-bg {
    height: 10px;
    background: var(--bg-icon);
}
.skills .progress-bar {
    width: 1px;
    height: 10px;
    background: var(--icon);
}

/* Historia */
.resume .resume-title {
    font-size: 30px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 40px;
}
.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid var(--title-secundary);
}
.resume .resume-item h4 {
    line-height: 18px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: ;
}

/* Media */
@media(max-width: 768px){
    #hero h1{
        font-size: 60px;
        line-height: 45px;
        padding-left: 50px;
    }
    #hero p {
        padding-left: 50px;
        font-size: 20px;
    }
}
@media (max-width: 1024px){
    #hero{
        background-attachment: fixed;
    }
    
}
@media (max-width: 1199px){
    #header {
        left: -300px;
    }
    #main {
        margin-left: 0;
    }
    .container,
    .container-fluid{
        padding-left: 12px;
        padding-right: 12px;
    }
}


/*
    |anotações de cores para o site|
    titulo: vermelho
    icones: cor do icone vermelho com fundo branco
    icones-hover: cor do icone branco com o fundo vermelho
    menu: branco e icones brancos
    menu-active: vermelho e icones vermelhos 
*/